* {
  box-sizing: border-box;
}

body {
  background-color: #f1f3f4;
  margin: 0;
}

h1,
h2,
h3,
p,
a,
li {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

a:hover {
  color: orange;
}

a:link {
  color: #0399ff;
}

a:visited {
  color: firebrick;
}

li {
  /* font-weight: bold; */
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
}

/* ================================= 
Elements Style
==================================== */

.name {
  text-transform: capitalize;
  padding: 1px;
  font-size: 1.875em;
  margin-top: 0.2em;
}

.introduction {
  color: #d6718d;
  font-style: italic;
  letter-spacing: 0.01em;
  font-family: 'Baloo Tamma 2', cursive;
  padding: 1em;
}

.featured-img {
  width: 80%;
  margin-bottom: 1em;
  margin-top: 2em;
}

.title {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 1em 0;
}

.contact {
  text-transform: uppercase;
  padding: 1em 0;
}

span {
  display: block;
  font-size: 0.9em;
  margin-top: 2em;
}

.footer-nav .name {
  font-size: 1em;
  float: left;
}

.card {
  text-align: center;
  background: #fff;
}

ul.skills {
  padding-top: 1em;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

.card:hover {
  border-color: #ff99ff;
}

/* ================================= 
Layout Containers
==================================== */

.container {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.content-area {
  background-color: white;
}

/* ================================= 
Naviation Styles
==================================== */

.main-nav {
  background-color: #bfada3;
  padding-top: 1px;
}

.main-nav ul {
  margin-bottom: 2em;
}

.main-nav li {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 15px;
}

.project-title {
  text-transform: capitalize;
  font-size: 1em;
}

.discription {
  font-family: 'Baloo Tamma 2', cursive;
}

.footer-nav ul {
  display: none;
}

.to-top {
  font-size: 1em;
  float: right;
}

.footer-nav {
  margin-top: 2em;
  border-top: 1px solid lightgray;
}

/* ================================= 
  Media query
==================================== */

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
  }

  .main-header {
    height: 300px;
  }

  .featured-img {
    width: 40%;
    float: right;
    margin-left: 2em;
    margin-top: 1em;
    padding-bottom: 3em;
  }

  .main-nav li {
    background-color: #bfada3;
    display: inline-block;
    font-weight: bold;
  }

  .introduction {
    margin: 3em 0;
  }

  .marketing-page,
  .search-page,
  .travel-app,
  .fav-spots,
  .photo-gallery,
  .calculator {
    width: 50%;
    height: 50vh;
  }

  .col {
    float: left;
    height: 25%;
    padding-right: 1em;
    padding-left: 1em;
  }

  .to-top {
    display: none;
  }

  .footer-nav ul {
    display: inline-block;
    float: right;
  }

  .footer-nav li {
    float: left;
    padding-right: 20px;
  }
}

/* ================================= 
  Media query
==================================== */

@media (min-width: 1024px) {
  .content-area {
    margin-right: 2em;
    margin-left: 2em;
  }

  .main-nav .name {
    padding: 15px;
    float: left;
  }

  .main-nav ul {
    float: right;
  }

  .featured-img {
    width: 40%;
  }

  .marketing-page,
  .search-page,
  .travel-app,
  .fav-spots,
  .photo-gallery,
  .calculator {
    max-width: 33%;
  }

  .col {
    /* margin-right: 10px; */
    float: left;
    padding-right: 1em;
    padding-left: 1em;
  }
}

/* ---- clearfix ---- */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
