
* {
  box-sizing: border-box;
}

/* ---- Default Styles ---- */

body {
	line-height: 1.6;
  color: #3a3a3a;
  font-family: 'Russo One', sans-serif;
}

a { 
  color: #3a3a3a;
  text-decoration: none;
}

a:active {
  color: firebrick;
}

a:hover {
  color: orange;
}

img {
  width: 100%;
  /* padding: 100px; */
}

p {
  /* padding: 10px; */
  font-weight: 20px;
}

.title {
  text-transform: capitalize;
}

/* ---- Layout Containers ---- */

.container {
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

#portfolio {
  background-color: white;
}

/* ---- Header ---- */

.main-header {
  background: #f1f3f4;
  /* background-color: lightgray; */
  padding: 1px;
}

.primary-nav {
  background-color: #ef8354;
}

.name {
    text-align: center;
    padding-top: 10px;
    text-transform: capitalize;
}

.main-nav {
  padding-top: 1em 0;
  padding-bottom: 15px;
}

.main-nav li{
  text-align: center;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 6px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.featured-img {
  width: 75%;
  /* padding-top: 25px;
  padding-bottom: 40px; */
}

.introduction {
  font-family: 'Libre Franklin', sans-serif;
  font-size: larger;
  font-weight: lighter;
}

/* ---- Title ---- */

.title {
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
}

.project-title {
  text-transform: capitalize;
}


/* ---- Footer ---- */

.main-footer {
	padding: 1.2em 0;
  background: #f1f3f4;
  /* background-color: lightgray; */
}

.footer {
  border-top: solid lightgrey 1px;
  padding-top: 15px;
  margin-bottom: 1em;
}

.phone{
  display: inline-block;
  margin-bottom: 15px;
}

.email {
  display: inline-block;
  margin-bottom: 50px;
}

.footer-name {
  float: left;
  text-transform: capitalize;
  padding-left: 10px;
}

.to-top {
  float: right;
  text-transform: uppercase;
  padding-right: 10px;
}

.secondary-nav {
  display: none;
}


/* ================================= 
  Media query
==================================== */

@media (min-width: 768px) {
    .container {
      padding: 30px;
      margin: 0 auto;
      text-align: center;
    }

    #portfolio {
      background-color: white;
    }

    .name {
      text-align: center;
      text-transform: capitalize;
  }

    .main-nav li{
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      background-color: #f1f3f4;
      display: inline-block;
    }

    .featured-img {
      width: 45%;
      float: right;
      margin-left: 10px;
      margin-bottom: 30px;
    }

    .col {
      float: left;
      width: 50%;
      height: 25em;
      padding: 1em;
    }

    .phone{
      display: block;
      margin-bottom: 15px;
    }
    
    .email {
      display: block;
      margin-bottom: 50px;
    }

    .to-top{
      display: none;
    }

    .secondary-nav{
      display: inline-block;
      float: right;
      padding-top: 25px;
      padding-right: 10px;
      word-spacing: 30px;
      text-transform: uppercase;
    }

    .secondary-nav li {
      display: inline-block;
      font-weight: bold;
    }
}

@media (min-width: 1024px) {

  body {
    background-color: #f1f3f4;
  }

  #portfolio {
    background-color: white;
  }

  .container {
      width: 95%;
      margin: 0 auto;
  }

  .name {
    float: left;
  }

  .main-nav{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f1f3f4;
    float: right;
    padding-top: 25px;
  }

  .featured-img {
    float: right;
    padding: 15px;
  }

  .col {
    width: 33%;
    float: left;
  }
}

/* ---- clearfix ---- */


/* ---- Page Elements ---- */
